ws/ws/cn/gaily/service/IHelloService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
xmlns:jaxws="http://java.sun.com/xml/ns/jaxws"
jaxb:version="2.0"
xmlns:ns0="http://service.gaily.cn/IHelloService"
targetNamespace="http://service.gaily.cn/IHelloService">

<jaxws:bindings>
	<jaxws:package name="cn.gaily.service"/>
</jaxws:bindings>

<wsdl:types>
   <xsd:schema xmlns:ns="http://service.gaily.cn/IHelloService"
			attributeFormDefault="unqualified"
			elementFormDefault="unqualified"
			targetNamespace="http://service.gaily.cn/IHelloService" jaxb:version="2.0">
	<xsd:annotation>
    	<xsd:appinfo>
   			<jaxb:schemaBindings>
    			<jaxb:package name="cn.gaily.service"/>
    		</jaxb:schemaBindings>
   		</xsd:appinfo>
   	</xsd:annotation>
	<xsd:element name="getInfo">
         <xsd:complexType>
            <xsd:sequence>
				<xsd:element name="string"  minOccurs="0" nillable="true" type="xsd:string"/>
             </xsd:sequence>  
         </xsd:complexType>
     </xsd:element>
	<xsd:element name="getInfoResponse">
         <xsd:complexType>
            <xsd:sequence>
				<xsd:element name="return"  minOccurs="0" nillable="true" type="xsd:string"/>
             </xsd:sequence>  
         </xsd:complexType>
     </xsd:element>
   </xsd:schema>
</wsdl:types>
    <wsdl:message name="getInfoRequest">
        <wsdl:part name="parameters"  element="ns0:getInfo"/>
    </wsdl:message>
    <wsdl:message name="getInfoResponse">
        <wsdl:part name="parameters"  element="ns0:getInfoResponse"/>
    </wsdl:message>

    <wsdl:portType name="IHelloServicePortType">
        <wsdl:operation name="getInfo">
            <wsdl:input message="ns0:getInfoRequest" wsaw:Action="urn:getInfo"/>
            <wsdl:output message="ns0:getInfoResponse" wsaw:Action="urn:getInfoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    
    <wsdl:binding name="IHelloServiceSOAP11Binding" type="ns0:IHelloServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getInfo">
            <soap:operation soapAction="urn:getInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IHelloService">
        <wsdl:port name="IHelloServiceSOAP11port_http" binding="ns0:IHelloServiceSOAP11Binding">
            <soap:address location="http://localhost/uapws/service/IHelloService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
